body {
  display: flex;
  background-image: radial-gradient(circle, #ffffff, #d0d0d0, white);
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 100px;
}

.main {
  display: flex;
  justify-content: center;
}

.turn {
  background-color: #e6e6e6;
  width: 50px;
  height: 100%;
}

.nav {
  transform: scale(1.5, 1.5);
}

.reverse {
  transform: scale(1.5, 1.5) rotate(180deg);
}

.mainbox {
  display: flex;
  position: relative;
}

.navimg {
  position: relative;
}

.textbox {
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background-color: hsla(50, 33%, 25%, 0.4);
  padding: 10px;
  width: 100%;
}

.imgList {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tiny {
  display: flex;
  background-color: white;
  width: 100px;
  height: 100px;
  margin: 20px;
}
