<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reddit Login</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <form class="main" action="">
        <h1>ACCOUNT LOGIN</h1>

        <fieldset>
            <label for="login field">USERNAME</label>
            <input id="login field" type="text" required />
        </fieldset>

        <fieldset>
            <label for="password">PASSWORD</label>
            <input id="password" type="text" required />
            <a class="label-link" href="">Forgot password?</a>
        </fieldset>

        <input class="button" type="submit" value="Login" />

    </form>

</html>