<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reddit Register</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <form class="main" action="">
        <h1>Register</h1>

        <fieldset>
            <label for="new user">NEW USERNAME</label>
            <input id="new user" type="text" required />
        </fieldset>

        <fieldset>
            <label for="new password">NEW PASSWORD</label>
            <input id="new password" type="text" required />
        </fieldset>

        <input class="button" type="submit" value="Register" />
    </form>
</body>

</html>