.container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    align-content: stretch
}

.item {
    align-self: flex;
    height: 200px;
    width: 200px;
}

.green {
    background: #51D400;
}

.yellow {
    background: #FFD62A;
}

.purple {
    background: #B02AFF;
}