body {
  display: flex;
  background-color: #c2c1c1;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

ul {
  display: flex;
  justify-content: center;
}

.turn {
  background-color: #e6e6e6;
  width: 50px;
  height: 100%;
}

.nav {
  transform: scale(1.5, 1.5);
}

.reverse {
  transform: scale(1.5, 1.5) rotate(180deg);
}

li {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.list {
  margin: 10px;
  background-color: white;
}
.img {
  padding: 5px;
}
