* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  background-color: bisque;
}

div {
  font-weight: bolder;
  width: 19%;
}

p {
  font-style: normal;
}
