* {
  padding: 0;
  margin: 0;
  border-radius: 3px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  width: 64%;
  height: 60%;
  display: grid;
  grid-template: repeat(18, 1fr) / repeat(36, 1fr);
  background-color: #f5f5f5;
}

.logo {
  grid-column: 1 / 6;
  grid-row: 1 / 6;
}
.message {
  grid-column: 6 / 12;
  grid-row: 1 / 6;
}

.infobar {
  grid-column: 1 / 11;
  grid-row: 6 / 8;
  align-self: center;
  padding: 2px 10px;
}

.infobarplus {
  grid-column: 11 / 12;
  grid-row: 6 / 8;
  display: grid;
  place-items: center;
}

.album {
  grid-column: 12 / 19;
  grid-row: 1 / 8;
}

.playlists {
  grid-column: 1 / 19;
  grid-row: 8 / 19;
}

.list {
  padding: 2px 10px;
}

.list:nth-child(odd) {
  background-color: #eaeaea;
}

.list:hover {
  background-color: #abe7e5;
}

.info {
  grid-column: 19 / 35;
  grid-row: 1 / 4;
}

.infoplus {
  grid-column: 35 / 36;
  grid-row: 1 / 4;
  display: grid;
  place-items: center;
}

.infostar {
  grid-column: 36 / 37;
  grid-row: 1 / 4;
  display: grid;
  place-items: center;
}

.tracks {
  grid-column: 19 / 37;
  grid-row: 4 / 19;
}

.music:nth-child(odd) {
  background-color: #eaeaea;
}

audio {
  width: 64%;
  background-color: #ffffff;
}
