<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Winamp</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <main>
        <div class="logo">
            <img src="img/foxplayer.png" style="max-height: 100%; max-width: 100%; margin: 5%;">
        </div>
        <div class="message"></div>
        <div class="infobar">Playlists +</div>
        <div class="album">
            <img src="img/music-placeholder.png" style="max-height: 100%; max-width: 100%;">
        </div>
        <div class="playlists">
            <div class="list">All</div>
            <div class="list">Favorites</div>
        </div>
        <div class="info"></div>
        <div class="tracks">
            <div class="music"></div>
            <div class="music"></div>
            <div class="music"></div>
        </div>
    </main>
    <audio controls>
        <source
            src="https://raw.githubusercontent.com/green-fox-academy/teaching-materials/master/project/music-player/music/Organoid_-_09_-_Purple_Drift.mp3?token=AMGM2TQM3TCKXOIZP3RKSE25P6ICK">
    </audio>
</body>

</html>