.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  width: 1300px;
  background: #b02aff;
}

.link {
  margin-left: 20px;
  background: #2aeaff;
  height: 45px;
  width: 100px;
}

.one {
  width: 150px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 1000px;
  width: 1300px;
}

.content {
  background: #51d400;
  width: 1000px;
}

.sidebar {
  background: #ffd62a;
  width: 300px;
}
